.jsLegendTable {
    width: 100%;
    height: 100%;
    padding: 5px;
 }
 
 .jsLegendscaleHeadContent {
    position: relative;
    margin: 0px;
    padding: 0px;
    text-align: center;
 }
 
 .jsLegendscaleFootContent {
    position: relative;
    text-align: center;
 }
 
 .jsLegendscaleBodyContent {
    position: relative;
    text-align: left;
    height: 100%;
    padding: .5em;
 }
 
 .jsLegendscale {
    display: inline-block;
    position: relative;
    height: 100%; 
    min-width: 10px;
    min-height: 20px;
    top: 0px;
    left: 0px;
    margin: 0px;
    padding: 0px;
    margin-right: 5px;
    border: 1px solid black;
    text-align: left;
 }
 
 .jsLegendscaleLabels {
    display: inline-block;
    position: relative;
    height: 100%; 
    top: 0px;
    left: 0px;
    margin: 0px;
    padding: 0px;
    text-align: left;
 }
 
 .jsLegendlabelText {
    position: absolute; 
    margin: 0px; 
    padding: 0px; 
    transform: translate(0px, -50%);
    text-align: left;
    white-space: nowrap;
 }
 
 .labelJig {
    text-align: right;
    transform: translate(5px, -100%);
    height: 0px;
    margin-left: 5px;
    color: #cc0000;
    visibility: hidden;
 }
 
 .jsLegendCell {
    display: inline-block;
    margin: 0px; 
    padding: 0px; 
    border: 1px solid black;
    text-align: left;
    vertical-align: middle; 
    margin-bottom: 5px;
 }
 
 .jsLegendscaleHeadContentSpan {
    position: relative;
    font-size: 1.1em;
    text-align: center;
    margin: 0px;
    padding: 0px;
 }
 
 .jsLegendscaleFootContentSpan {
    text-align: center;
    margin: 0px;
    padding: 0px;
    overflow-wrap: anywhere;
 }
 
 .jsLegendscaleBodyContentSpan {
    position: relative;
    width: inherit;
    padding: 1em;
    padding-top: 0px;
 }
 
 .jsLegendscaleSpan {
    display: block;
    position: relative;
    min-height: 5px;
    margin: 0px;
    padding: 0px;
    margin-bottom: 5px;
    margin-top: 5px;
    width: 100%;
    border: 1px solid black;
 }
 
 .jsLegendscaleLabelsSpan {
    display: block;
    position: relative;
    width: 100%;
    left: 0px;
    margin: 0px;
    padding: 0px;
 }
 
 .jsLegendlabelTextSpan {
    position: absolute; 
    margin: 0px; 
    padding: 0px; 
    transform: translate(-50%, 0px);
    white-space: nowrap;
 }